/* Estilos generales */
body{
  color: darkcyan;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* Seccion Portada */

.portada {
  background-color: darkcyan;
  text-align: center;
}

.portada-principal {
  padding: 3rem;
}

.portada-imagen {
  width: 500px;
  margin: 20px;
}

.subtitulo {
  font-size: 2.5rem;
  font-family: "Girassol", cursive;
  color: white;
  margin-top: -4%;
  margin-left: 17%;

}

/* Dar Citas */


.formulario{

  padding: 35px;
  background-color: darkcyan;
  color: white;}

.formulario label {
  margin: 5px;
  font-size: 1.5rem;
  font-family: Playfair Display, sans-serif;
  color: white;
}

.formulario button{
  padding: 5px;
  margin: 15px;
  background-color: white;
  border: 2px solid darkcyan;
  font-size: 1.5rem;
  font-family: Playfair Display, sans-serif;
  color: darkcyan;
  font-weight: bold;

}

/* Ver Citas */
.seccion-citas{
  padding: 20px;
  background-color: darkcyan;
  color: white;
}
.seccion-citas h2{
  text-align: center;
}

.tabla{
  width: 100%;
  font-size: 1rem;
  font-family: Playfair Display, sans-serif;
  font-weight:lighter;
}
.tabla button{
  background-color: white;
  border: 2px solid darkcyan;
  font-size: 1rem;
  font-family: Playfair Display, sans-serif;
  color: darkcyan;
  font-weight: bold;
}
.botonOcultar{
  background-color: white;
  border: 2px solid darkcyan;
  font-size: 1rem;
  font-family: Playfair Display, sans-serif;
  color: darkcyan;
  font-weight: bold;

}
button:hover{
  background-color: darkcyan;
  border: 2px solid white;
  color: white;
}



/* Footer */
.footer{
  padding-top: 50px;
  background-color: darkcyan;
  width: 100%;
  text-align: center;
  align-items: center;
}

.logoFooter{
  margin-top: -20px;
  width: 200px;
}

.footer span{
  border: 2px solid darkcyan;
  font-size:1rem;
  font-family: Playfair Display, sans-serif;
  color: white;
  font-weight: bold;
}





/* Adaptable Responsivo */
